/* staticPage.css */

body {
    background-color: #F5F5F5;	
    font-family: sans-serif;
    margin: 200px;
    }
            
p {
    color: gray;
    }
            
.main {
    float: left;
    width: 75%;
    }
            
.contact {
    float: right;
    border: 1px solid black;
    background-color: #E6E6FA;
    width: 200px;
    padding: 5px;
    }